<div class="container text-center col-3">
    <h2>Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field  signup-field">        
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "wid" %>
    </div>

    <div class="field  signup-field">    
        <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" , class: "wid" %>
    </div>

    <% if devise_mapping.rememberable? %>
        <div class="field  signup-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        </div>
    <% end %>

    <div class="actions signup-field signup-bottom">
        <%= f.submit "Sign in", class: "btn btn-outline-info wid" %>
    </div>
    <% end %>

    <%#= render "users/shared/links" %>
</div>
