<div class="row container your_trips">
    <%= render "layouts/rooms_sidebar" %>
    <div class="card right-card">
        <h5 class="card-header">Your Trips</h5>
        <div class="card-body">
            <% @reservations.each do |reservation| %>
                <div class="container border-bottom pt-3 pb-3">
                    <div class="row">
                        <div class="col-3">
                            <%= reservation.start_date %>
                            <br>~<br>
                            <%= reservation.end_date %>
                        </div>
                        <div class="col-3" >                            
                            <%= image_tag reservation.room.photos.first.image, width: "100" %>                           
                        </div>
                        <div class="col-3">
                            <%= link_to reservation.room.listing_name, "#" %><br>
                            <%= link_to reservation.room.user.name, "#" %>
                        </div>
                        <div class="col-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="save-bnt btn btn-info update-btn" data-toggle="modal" data-target="#trip-review-<%= reservation.id %>">
                                Review Host
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="trip-review-<%= reservation.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Review Host</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <%= form_for @review do |f| %>
                                                <%= f.hidden_field :reservation_id, value: reservation.id %>
                                                <%= f.hidden_field :room_id, value: reservation.room.id %>
                                                <div id="stars_<%= reservation.id %>", class="text-center mb-2"></div>
                                                <script>
                                                    $('#stars_<%= reservation.id %>').raty({
                                                        path: '/assets',
                                                        scoreName: 'review[rating]',
                                                        score: 0
                                                    });
                                                </script>
                                                <%= f.text_area :comment, class: "w-100 border" %>
                                                <div class="text-center mt-3">
                                                    <%= f.submit "Add Review", class: "save-bnt btn btn-info update-btn"  %>
                                                </div>
                                            <% end %>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>