<div class="row container photos">
    <div class="card left-card">
        <div class="card-body">
            <%= render "sidebar" %>
        </div>
    </div>
    <div class="card right-card">
        <div class="card-header">
            Photos
        </div>
        <div class="card-body">
            <%= form_for @room, url: room_photos_path(@room), method: "post", html: { :multipart => true }, enctype: 'multipart/form-data' do |f| %>
                <p>Select Photos</p>
                <%= file_field_tag "photos[]", type: :file, multiple: true, required: true %>
                <%= f.submit "Add photos", class: "btn btn-info btn-block mt-4 mb-4" %>
                <div class="row">
                    <% @photos.each do |photo| %>
                        <div class="col-4">
                            <div class="card">
                                <%= image_tag photo.image, class: "w-100" %>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>