<div class="container rooms-show">
    <%= image_tag @room.photos.first.image, class: "img-fluid mb-3" %> 
    <%# class: "img-fluid mb-3" %>
    <div class="row">
        <%# left-card %>
        <div class="left-card col-8">
            <%# house name, address, user_name %>
            <div class="row">
                <div class="col-6">
                    <div class="float-left">
                        <h3 class="mt-3 mb-3"><%= @room.listing_name %></h3>
                        <p><%= @room.address %></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-right">
                        <%= user_profile_image(current_user, "rounded-circle profile-middle") %>
                        <p class="text-center"><%= @room.user.name %></p>
                    </div>
                </div>
            </div>
            <%# /house name, address, user_name %>
            <%# room_content %>
            <div class="text-center border-top border-bottom row leftcard-footer">
                <div class="col-3 mt-3 mb-3">
                    <%= image_tag "home.png", class: "image" %>
                    <p><%= @room.room_type %><p>
                </div>
                <div class="col-3 mt-3 mb-3">
                    <%= image_tag "person.png", class: "image" %>
                    <p><%= @room.accommodation %> Guests<p>
                </div>
                <div class="col-3 mt-3 mb-3">
                    <%= image_tag "bed.jpeg", class: "image" %>
                    <p><%= @room.bedroom_count %> Betrooms<p>
                </div>
                <div class="col-3 mt-3 mb-3">
                    <%= image_tag "bathroom.png", class: "image" %>
                    <p><%= @room.bathroom_count %> Bathrooms<p>
                </div>
            </div>
            <%# /room_content %>
            <%# room's detail %>
            <div class="about-room border-bottom">
                <h3>About this room</h3>
                <%= @room.summary %>
            </div>
            <div class="amenities border-bottom">
                <div class="row">
                    <div class="col-4">
                        <h3>Amenities</h3>
                    </div>
                    <div class="col-8 row row-cols-3">
                        <p class="col">
                            <% if @room.has_tv? %>
                                TV
                            <% else %>
                                <s class="text-secondary">TV</s>
                            <% end %>
                        </p>
                        <p class="col">
                            <% if @room.has_kitchen? %>
                                Kitchen
                            <% else %>
                                <s class="text-secondary">Kitchen</s>
                            <% end %>
                        </p>
                        <p class="col">
                            <% if @room.has_internet? %>
                                Internet
                            <% else %>
                                <s class="text-secondary">Internet</s>
                            <% end %>
                        </p>
                        <p class="col">
                            <% if @room.has_heating? %>
                                Heating
                            <% else %>
                                <s class="text-secondary">Heating</s>
                            <% end %>
                        </p>
                        <p class="col">
                            <% if @room.has_air_conditioning? %>
                                Air Conditioning
                            <% else %>
                                <s class="text-secondary">Air Conditioning</s>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <%# /room's detail %>
            <%# room's photos %>
            <div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @room.photos.each do |photo| %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @room.photos.each do |photo| %>
                            <div class="carousel-item bg-secondary <%= photo.id == @room.photos.first.id ? 'active' : '' %>" style="height: 600px;">
                                <%= image_tag photo.image, class: "d-block h-100 mx-auto" %>
                            </div>
                        <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <%#= image_tag @room.photos.first.image, class: "img-fluid mt-3 mb-3" %>
            </div>
            <%# /room's photos %>

            <div id="map" class="mt-3 mb-3"></div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfXoNJFnAa8MmCNVSxj2x1iFUmRVXk_xc&callback=initialize" type="text/javascript"></script>

            <script type="text/javascript">
                function initialize() {
                    var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>")};
                    var map = new google.maps.Map(document.getElementById('map'),{
                        center: location,
                        zoom: 14
                    });

                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });

                    var infoWindow = new google.maps.InfoWindow({
                        content: '<div id="content"><%= image_tag @room.photos.first.image, class: "w-100" %></div>'
                    });

                    infoWindow.open(map, marker);
                }

                google.maps.event.addDomListener(window,'load', initialize);
            </script>
        </div>
        <%# /left-card %>
        <%# right-card %>
        <div class="right-card col-4">
            <div class="card">
                <div class="card-header">
                    <p class="float-left">$<%= @room.price %></p>
                    <p class="float-right">Per Night</p>
                </div>   
                <div class="card-body">
                    <%= form_for([@room, @reservation]) do |f| %>
                        <div class="row">
                            <div class="col-6">
                                <p>Check In</p>
                                <%= f.text_field :start_date, id: "start_date", placeholder: "Start Date", readonly: true, class: "w-100 form-control" %>
                            </div>
                            <div class="col-6">
                                <p>Check Out</p>
                                <%= f.text_field :end_date, id: "end_date", placeholder: "End Date", readonly: true, class: "w-100 form-control", disabled: true %>
                            </div>
                        </div>
                        <div id="preview" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    Price:
                                </div>
                                <div class="col-6">
                                    <%= @room.price %>
                                </div>
                                <div class="col-6">
                                    Night(s):
                                </div>
                                <div class="col-6">
                                    <span id="nights"></span>
                                </div>
                                <div class="col-6">
                                    Total:
                                </div>
                                <div class="col-6">
                                    <span id="total-price"></span>
                                </div>
                            </div>
                        </div>
                        <%= f.submit "Book now", id: "submit", class: "btn btn-info booking-btn mt-4", disabled: true %>
                    <% end %>
                    <script>
                        $(function(){
                            $("#start_date").datepicker({
                                dateFormat: "dd-mm-yy",
                                minDate: 0,
                                maxDate: "3m",
                                onSelect: function(selected){
                                    $("#end_date").datepicker("option", "minDate", selected);
                                    $("#end_date").attr("disabled", false);

                                    var start_date = $("#start_date").datepicker("getDate");
                                    var end_date = $("#end_date").datepicker("getDate");
                                    var nights = (end_date - start_date)/1000/60/60/24;

                                    if(start_date != null && end_date != null){
                                        $("#preview").show()
                                        $("#submit").attr("disabled", false)
                                        $("#nights").text(nights);
                                        $("#total-price").text(nights*<%= @room.price %>);
                                    }
                                }
                            });
                            $("#end_date").datepicker({
                                dateFormat: "dd-mm-yy",
                                minDate: 0,
                                maxDate: "3m",
                                onSelect: function(selected){
                                    $("#start_date").datepicker("option", "maxDate", selected);

                                    var start_date = $("#start_date").datepicker("getDate");
                                    var end_date = $("#end_date").datepicker("getDate");
                                    var nights = (end_date - start_date)/1000/60/60/24;

                                    if(start_date != null && end_date != null){
                                        $("#preview").show()
                                        $("#submit").attr("disabled", false)
                                        $("#nights").text(nights);
                                        $("#total-price").text(nights*<%= @room.price %>);
                                    }
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <%# /right-card %>        
    </div>        
</div>