<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <%= link_to "T-Airbnb", root_path, class: "navbar-brand" %>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <input class="form-control mr-sm-2" type="search" placeholder="Your destination" aria-label="Search">
            </li>            
        </ul>
        <form class="form-inline my-2 my-lg-0">              
            <ul class="navbar-nav mr-auto">    
                <li class="nav-item">
                    <%= link_to "Become a host", new_room_path, class: "btn btn-outline-success my-2 my-sm-0" %>
                    <%# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Become a host</button> %>
                </li>
                <% if user_signed_in? %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user_profile_image(current_user, "rounded-circle profile-small")%>
                            <%= current_user.name %>
                        </a>                           

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">                        
                            <%= link_to "Manage Listing",rooms_path, class: "dropdown-item"%>
                            <%= link_to "List Your Space", class: "dropdown-item"%>
                            <%= link_to "Your Reservations", class: "dropdown-item"%>
                            <%= link_to "Your Trips", class: "dropdown-item"%>                              
                            <div class="dropdown-divider"></div>
                            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item"%>                            
                            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>                        
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>                        
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>                                               
                    </li>
                <% end %>
            </ul>            
        </form>
        </div>
    </div>
</nav>