 <div class="row container edit-home">
    <div class="card left-card text-center">
        <h5 class="card-header">Edit Profile</h5>
        <div class="card-body">
            <%= link_to "View Profile", user_path(current_user), class: "input-wid btn btn-info btn-lg" %>                
        </div>
    </div>
    <div class="card right-card">    
        <h5 class="card-header text-center">Your Profile</h5>  
        <div class="card-body input-area">  
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <div class="field">        
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-wid form-control" %>
            </div>
            <div class="field">        
                <%= f.text_field :phone_number, placeholder: "Phone Number", autofocus: true, autocomplete: "phone_number", class: "input-wid form-control" %>
            </div>
            <div class="field">        
                <%= f.text_area :description, placeholder: "Description", autocomplete: "description", class: "input-wid form-control" %>
            </div>
            <div class="field">        
                <%= f.email_field :email, autofocus: true, autofocus: true, autocomplete: "email", class: "input-wid form-control" %>
            </div>
            <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <%# <div>Currently waiting confirmation for: <%= resource.unconfirmed_email </div> 
            <%# <% end %> 
            <div class="field">     
                <% if @minimum_password_length %>                
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
                <% end %>   
                <%= f.password_field :new_password, placeholder: "New Password (leave blank if you don't want to change it)", autocomplete: "new_password", class: "input-wid form-control" %>            
            </div>        
            <div class="field">
                <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "input-wid form-control" %>
            </div>
            <div class="actions">
                <%= f.submit "Save", class: "save-bnt btn btn-info  form-control" %>  
            </div>             
            <% end %>    
        </div> 
        <%# <h3>Cancel my account</h3> %>

        <%# <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

        <%# <%= link_to "Back", :back %>         
    </div>
</div>
